# H1: Data science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summariezd.

**Objectives:**

- List popular languages for data science
- List commonly used libraries by data scientists
- Evaluate arithmetic expression in python

Some of the popular languages that Data scientist use are:
1. R
2. Python
3. SQL

Some of the common used libraries used by Data Scientist include:
1. Scientific Computing Libraries e.g pandas
2. Data Visualization Libraries e.g matplotlib
3. Machine Learning Libraries e.g Scikit-learn library

|Data Science Tools|
------------------------------
|RStudio|
|Apache Spark|
TensorFlow|

### H3: Below are a few examples of evaluating arithmetic expresions in python

In [2]:
This a simple arithmetic expression multiply the add integers

SyntaxError: invalid syntax (2944298875.py, line 1)

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [4]:
(200/60)

3.3333333333333335

## H2: Author
Nancy Magdaline Achieng